<h1><%= @animal.id ? 'Edit Animal' : 'Create Animal' %></h1>
<hr />
<%= form_with(model: [@zoo, @animal], local: true, class: "ui form") do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :species %>
  <%= f.text_field :species, required: true %>
  <br />
  <%= f.label :age %>
  <%= f.text_field :age, required: true %>
  <br />
  <br />
  <%= f.submit nil, class: "ui button" %>
<% end %>
